body{
	
	background:rgb(241,241,241);

}
#a2{
	
   content:#aaa;
   position:absolute;
   top:25px;
   right:50px;  	
}
#list{
     
	  border-radius:1px solid #ffffff;
	  padding-bottom:25px;
	  padding-left: 10px;
	  padding-right:10px; 
    position:absolute;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    background:rgba(250,250,250);
    position:fixed;
    top:70px;
    right:25px;  
    display: none;
}
 #a1{
 	 position:relative; 
 	 right:600px; 
 }
 
 #h1{
 	position: relative;
 	top: 18px;
 }
 #h2{
 	position: relative;
 	top: -10px;
 }
 #img{

  background:#fff;
  border:1px solid;
  font-weight:lighter;
  padding:1px;
  border-radius:100px;
  box-shadow:0 0px 4px rgba(0,0,0,.3),0 -1px 1px rgba(0,0,0,.3);
  display:inline-block;
  height:50px;
  overflow:hidden;
  margin: 10px;
  width:50px;
  text-align:center
}
 
 .a{
			background: rgba(40,59,100,.9);
			width:100%;
			height:75px;
			border: 1px solid #cccccc;
			overflow:auto; 

		}
		.b{
			
			width:24.75%;
			height:636px;
      overflow: auto;
      border-right: 1px solid gray;
      border-left: 1px solid gray;
      top:46px;
			position:absolute;
			
		}

    p[id="chatwith"]
    {
      font-size: 24px;
    }
		.c{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
			background:rgb(241,241,241);
			width:73.75%;
			height:85px;
			border: 1px solid #cccccc;
      font-size: 24px;
			position:absolute;
			top:45px;
			right:7px;  
		}
		.d{
       
			width:73.75%;
			height:546px;
			border: 1px solid gray;
			overflow-y: auto;
			position:absolute;
			top:123px;
			  right:7px;
        background-image: url(img/cool.jpg);
        
		}
		div div div div{
       -webkit-border-radius: 24;
      -moz-border-radius: 24;
      border-radius:100px;
			border:1px solid #aaa;
			padding-bottom:10px;
			padding-top: 10px;
			margin: 10px;
             }
         .b div div div:hover{
             	background: #cccccc;
               box-shadow:0 0 5px #3cb0fd;
                 border: 5px solid #f5ed39;
             }
 

             #inv{
             	border-radius:1px solid #ffffff;
	            padding-bottom:25px;
	            padding-left: 10px;
	            padding-right:10px; 
                position:fixed;
                box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
                   background:rgba(250,250,250);
                   top:70px;
                     right:200px;  
                        display: none;
             }
             #msg{
    border-radius:1px solid #ffffff;
	  padding-bottom:25px;
	  padding-left: 10px;
	  padding-right:10px; 
    position:fixed;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    background:rgba(250,250,250);
    top:70px;
    right:100px;  
    display: none;
             }

#showmsg{
    background: #fff;
      width:70%;
			height:450px;
			border: 1px solid #cccccc;
			overflow: auto;
			position:absolute;
			top:7px;
            margin-left: 150px;
      margin-right: 50px;
       
}
#creatmsg{

	  position:absolute;
	  top:480px;
    margin-left: 150px;
	  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width:690px;
    background: #fff;
    margin-bottom:1%;
    border:1px solid #ccc;
    padding:1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif; 
    height: 60px;
}
#creatmsg:focus{
	   box-shadow:0 0 5px #3cb0fd;
     padding:1%;
     border: 1px solid #3cb0fd;
}

#msg_from_me{
 -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius:100px;
  width:300px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  background: rgb(0,132,255);
  padding:1%;
  text-decoration: none;
  position:absolute;
  right: 10px; 
 
}
#msg_for_me{
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius:100px;
  width:300px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color:black;
  font-size: 14px;
  background:rgb(241,240,240);
  padding:1%;
  text-decoration: none;
  position:absolute;
  left:10px; 
}
#send{
   position:absolute;
    top:412px;
    right:7px; 
}
#msg_no_read{

  background:#cccccc;
  margin-top:20px;  
}

.slideshow-container {
  max-width: 1000px;
  position:relative;
  margin: auto; 
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

body{
        font-family: 'Aref Ruqaa';
    }
    /* Formatting search box */
 #nofound
    {
      background-color: #FFFFFF;
      width: 280px;
    }
   .search-box{
        width: 300px;
        position: absolute;
        display: inline-block;
        font-size: 14px;
        margin-left: 50px;
        left: 250px;
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    .result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
        height: 132px;
    }
    .search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }
    /* Formatting result items */
    .result p{
        margin: 0;
        padding: 7px 10px;
        
        border-top: none;
        cursor: pointer;
        width: 100%;
    }

    .add
    {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #CCCCCC;
        border-right : 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        height: 33px;


    }

    .add:hover
    {
        background: #f2f2f2;
    }

    .btn 
    {
      width: 70px;
      -webkit-border-radius: 60;
      -moz-border-radius: 60;
      border-radius: 60px;
      -webkit-box-shadow: 0px 1px 3px #666666;
      -moz-box-shadow: 0px 1px 3px #666666;
      box-shadow: 0px 1px 3px #666666;
      font-family: Arial;
      color: #ffffff;
      font-size: 14px;
      background: rgba(40,59,100,.9);
      border: solid rgba(40,59,100,.9) 2px;
      text-decoration: none;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      font-family: 'Aref Ruqaa';
    }

    .btn:hover 
    {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
      cursor: pointer;
    }
header
{
  background-color: rgba(40,59,100,.9);
  height: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

#header_icons
{
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 300px;
}

#friend_request_icon
{
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  margin-right: 7px;
  margin-left: 7px;
}

#messages_icon
{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 1px;
  margin-left: 1px;
  opacity: 0.7;
  margin-left: 7px;
  margin-right: 7px;
}

#settings_icon
{
  display: inline-block;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  margin-left: 7px;
  margin-right: 7px;
}

#logout_icon
{
  display: inline-block;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  margin-left: 7px;
}

#logo
{
  display: inline-block;
  width: 9em;
  position: absolute;
  left: 150px;
  top: -50px;
  
}

#home_icon
{
  display: inline-block;
  width: 23px;
  height: 23px;
  opacity: 0.7;
  margin-right: 7px;
}
